#profile-row{
    padding: 115px 0 200px;
}

.hero {
  background-color: #2ba6cb;
  padding: 0 90px;
}


.header-dark {
  background-color: #000000;
}

#bg-cover {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;

}
